<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8" />
		<title>CO3326 | Computer Security | 2016-17 | Coursework 1</title>
		<link rel="stylesheet" type="text/css" href="https://konklone.io/json/assets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="main.css" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/favicon-194x194.png" sizes="194x194" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/android-chrome-192x192.png" sizes="192x192" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/favicon-16x16.png" sizes="16x16" />
	</head>
<body>

<main>
	<table class="table">
		<thead>
			<tr>
				<th rowspan="2">Student code</th>
				<th rowspan="2">Name</th>
				<th colspan="4" rowspan="1">Curve/field parameters</th>
				<th colspan="2" rowspan="1">P</th>
				<th colspan="2" rowspan="1">Q</th>
				<th colspan="2" rowspan="1">R</th>
				<th colspan="2" rowspan="1">S</th>
				<th rowspan="2">Comment</th>
				<th colspan="4" rowspan="1">Solution</th>
			</tr>
			<tr>
				<th>a</th>
				<th>b</th>
				<th>k</th>
				<th>order</th>
				<th>X</th>
				<th>Y</th>
				<th>X</th>
				<th>Y</th>
				<th>X</th>
				<th>Y</th>
				<th>X</th>
				<th>Y</th>
				<th>modk-add</th>
				<th>modk-mul</th>
				<th>real-add</th>
				<th>real-mul</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="assessment : ${assessments}">
				<td th:text="${assessment.id}" />
				<td th:text="${assessment.name}" />
				<td th:text="${assessment.input['cw1']?.a}" />
				<td th:text="${assessment.input['cw1']?.b}" />
				<td th:text="${assessment.input['cw1']?.k}" />
				<td th:text="${assessment.input['cw1']?.order}" />
				<td th:text="${assessment.input['cw1']?.px}" />
				<td th:text="${assessment.input['cw1']?.py}" />
				<td th:text="${assessment.input['cw1']?.qx}" />
				<td th:text="${assessment.input['cw1']?.qy}" />
				<td th:text="${assessment.input['cw1']?.rx}" />
				<td th:text="${assessment.input['cw1']?.ry}" />
				<td th:text="${assessment.input['cw1']?.sx}" />
				<td th:text="${assessment.input['cw1']?.sy}" />
				<td th:text="${assessment.error?.cw1}" />
			</tr>
		</tbody>
	</table>
</main>

</body>
</html>