<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8" />
		<title>CO3326 Coursework 2016/17</title>
		<link rel="stylesheet" href="main.css" />
	</head>
<body>

<main>
	<table>
		<thead>
			<tr>
				<td>Student code</td>
				<td>Name</td>
				<td>
					<table>
						<tr>
							<th>a</th>
							<th>b</th>
							<th>k</th>
						</tr>
					</table>
				</td>
				<td>Solution</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student : ${students}">
				<td th:text="${student.id}" />
				<td th:text="${student.name}" />
				<td>
					<table>
						<tr>
							<td th:text="${student.ecc.a}" />
							<td th:text="${student.ecc.b}" />
							<td th:text="${student.ecc.k}" />
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td><a th:href="@{reals-add.html(id=${student.id})}">reals-add</a></td>
							<td><a th:href="@{reals-mul.html(id=${student.id})}">reals-mul</a></td>
							<td><a th:href="@{modk-add.html(id=${student.id})}">modk-add</a></td>
							<td><a th:href="@{modk-mul.html(id=${student.id})}">modk-mul</a></td>
						</tr>
					</table>
				</td>				
			</tr>
		</tbody>
	</table>
</main>

</body>
</html>