<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8" />
		<title>CO3326 | Computer Security | 2016-17 | Coursework 1</title>
		<link rel="stylesheet" type="text/css" href="https://konklone.io/json/assets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="main.css" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/favicon-194x194.png" sizes="194x194" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/android-chrome-192x192.png" sizes="192x192" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/favicon-16x16.png" sizes="16x16" />
	</head>
<body>

<main>
	<table class="table">
		<thead>
			<tr>
				<th rowspan="2">Student code</th>
				<th rowspan="2">Name</th>
				<th rowspan="1" th:attr="colspan=${assessments[2].results.size()}">Results</th>
			</tr>
			<tr>
				<div th:each="entry: ${assessments[2].results}">
					<th th:text="${entry.key}" />
				</div>
			</tr>
		</thead>
		<tbody>
			<tr th:each="assessment : ${assessments}">
				<td th:text="${assessment.id}" />
				<td th:text="${assessment.name}" />
				<div th:each="entry: ${assessment.results}">
					<td th:text="${entry.value}" />
				</div>
			</tr>
		</tbody>
	</table>
</main>

</body>
</html>