<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8" />
		<title>CO3326 | Computer Security | 2016-17 | Coursework 1</title>
		<link rel="stylesheet" type="text/css" href="https://konklone.io/json/assets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="main.css" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/favicon-194x194.png" sizes="194x194" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/android-chrome-192x192.png" sizes="192x192" />
		<link rel="icon" type="image/png" href="http://www.gold.ac.uk/favicon-16x16.png" sizes="16x16" />
	</head>
<body>

<main>
	<table class="table">
		<thead>
			<tr>
				<th rowspan="2">Student code</th>
				<th rowspan="2">Name</th>
				<th colspan="4" rowspan="1">Curve/field parameters</th>
				<th colspan="2" rowspan="1">P</th>
				<th colspan="2" rowspan="1">Q</th>
				<th colspan="2" rowspan="1">R</th>
				<th rowspan="2">n</th>
				<th colspan="2" rowspan="1">S</th>
				<th colspan="4" rowspan="1">Solution</th>
			</tr>
			<tr>
				<th>a</th>
				<th>b</th>
				<th>k</th>
				<th>order</th>
				<th>X</th>
				<th>Y</th>
				<th>X</th>
				<th>Y</th>
				<th>X</th>
				<th>Y</th>
				<th>X</th>
				<th>Y</th>
				<th>modk-add</th>
				<th>modk-mul</th>
				<th>real-add</th>
				<th>real-mul</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student : ${students}">
				<td th:text="${student.id}" />
				<td th:text="${student.name}" />
				<td th:text="${student.ecc?.a}" />
				<td th:text="${student.ecc?.b}" />
				<td th:text="${student.ecc?.k}" />
				<td th:text="${student.ecc?.order}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-add')} ? ${student.assignment['modk-add']?.p?.x}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-add')} ? ${student.assignment['modk-add']?.p?.y}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-add')} ? ${student.assignment['modk-add']?.q?.x}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-add')} ? ${student.assignment['modk-add']?.q?.y}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-add')} ? ${student.assignment['modk-add']?.r?.x}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-add')} ? ${student.assignment['modk-add']?.r?.y}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-mul')} ? ${student.assignment['modk-mul']?.n}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-mul')} ? ${student.assignment['modk-mul']?.s?.x}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-mul')} ? ${student.assignment['modk-mul']?.s?.y}" />
				<!--
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-add')} ? ${#numbers.formatDecimal(student.assignment['modk-add']?.p?.y, 0, 'DEFAULT', 0, 'DEFAULT')}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-add')} ? ${#numbers.formatDecimal(student.assignment['modk-add']?.q?.x, 0, 'DEFAULT', 0, 'DEFAULT')}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-add')} ? ${#numbers.formatDecimal(student.assignment['modk-add']?.q?.y, 0, 'DEFAULT', 0, 'DEFAULT')}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-add')} ? ${#numbers.formatDecimal(student.assignment['modk-add']?.r?.x, 0, 'DEFAULT', 0, 'DEFAULT')}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-add')} ? ${#numbers.formatDecimal(student.assignment['modk-add']?.r?.y, 0, 'DEFAULT', 0, 'DEFAULT')}" />
				<td th:text="${student.assignment != null and student.assignment.containsKey('modk-mul')} ? ${#numbers.formatDecimal(student.assignment['modk-mul']?.n, 0, 'DEFAULT', 0, 'DEFAULT')}" />
				-->
				<td><a th:href="@{modk-add.html(id=${student.id})}">modk-add</a></td>
				<td><a th:href="@{modk-mul.html(id=${student.id})}">modk-mul</a></td>
				<td><a th:href="@{reals-add.html(id=${student.id})}">real-add</a></td>
				<td><a th:href="@{reals-mul.html(id=${student.id})}">real-mul</a></td>
			</tr>
		</tbody>
	</table>
</main>

</body>
</html>